
/* Application police maquette */
body
{
   font-family: 'Raleway', sans-serif;
   margin: 70px 70px 0 70px;
  
}

/* Application police maquette pour titres h3 */
h3
{
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
}

/* Application police maquette */
header
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
    }

/* redimensionnement du logo et marges */

#logo img
{
    width: auto;
    height: 50px;
   

}
#logo
{ 
    margin-left: 20px;
    
}

/* mise en place menu de navigation*/
nav{
    display: flex;
    margin-right: 50px;
    font-weight: bold;
    font-size: 1em;
}

nav a
{
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin-right: 30px;
    
}

nav li{
    margin-left: 30px;
}

nav p a
{
    color: #0065FC;
}

/* Effet de survol sur lien de navigation */

nav p a:hover
{
    color: black;
    border-top: 3px solid #0065FC;
}

nav ul a:hover
{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}


/* Contenu principal */

/* Ajustement taille titre et paragraphe avant recherche*/

#ajust
{
    font-size: 0.8em;
    margin-left: 20px;
}


/* Mise en place de la recherche*/


#search
{
    display: inline-flex;
    height: 50px;
    margin-left: 20px;
}

.fa-map-marker-alt
{ 
    font-size: 1em;
    margin-top: 15px;
    padding: 16.5px 10px 35px 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    align-items: center;
    
}

#ville
{
    width: 234px;
    height: 51px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}

#submit
{
    width: 130px;
    height: 51px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}

#submit:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}


/* Mise de la partie filtres*/

.filtres
{
    display: flex;
    margin-top: 40px;
    font-weight: bold;
    font-size: 1em;
        
}

.filtres h2
{
    font-size: 1em;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 50px;
    align-items: center;
    display: flex;
}

/* Mise en forme commune à tous les filtres*/

.filtres button
{
    display: flex;
    background-color: white;
    font-weight: bold;
    align-items: center;
    font-size: 1em;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    background: none;
    padding: 0 20px 0 0;
    margin-right: 150px;
}

/* Mise en forme des incones des filtres*/

.fa-money-bill-wave
{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.fa-child
{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.fa-heart
{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.fa-dog
{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

/* Effet de survol des boutons filtres*/
button a
{
    color: black;
    background-color: white;
}

button:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}

button a:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}
/* Mise en forme de la ligne information*/
#info
{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 0.8em;
}

.fa-info
{
    display: flex;
    width: 15px;
    height: 15px;
    background-color: white;
    color: #0065FC;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 15px;
}

/* Mise en page de la section hébergements*/
#hbgt
{
    display: flex;
}

/* Mise en forme de la partie hébergement gauche*/

/* Mise en place du container gauche */
#gauche
{
    background-color: #F2F2F2;
    width: 70%;
    margin: 30px;
    border-radius: 30px;
}

/* Ajustement des photos*/

.imag
{
    width: 320px;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

/* Fond bleu des étoiles */
.fa-star
{
    color: #0065FC;
}

/* Cadre de toutes les images et descriptions */

.photog
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 40px;
    
}

/* Mise en forme de chaque photo et description*/

.entour
{
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 30px;

}

/* Description cliquable et enlèvement du soulignement */

.lien
{
    text-decoration: none;
}

.entour a:hover
{
    color: #0065FC ;
    text-decoration: none;
}

.entour a
{
    color: black ;
    text-decoration: none;
}
/* Ajustement description sous photo */
.descrip
{
    padding-left: 10px;
   
}
/* Ajustement titre des photos*/
h4
{
    margin: 0px;
    font-size: 0.9em;
    
}

/* Ajustement ligne tarif nuit*/

h4 + p
{
    font-size: 0.8em;
    margin: 5px 0 5px 0;
}

/* Mise en place du bouton afficher plus*/

#affplus
{
    border: none;
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 30px 30px;
}

/* Fin de la mise en forme de la partie hébergement gauche*/


/* Mise en forme de la partie hébergement droite*/



/* Mise en place du container droit */

#droite
{
    background-color: #F2F2F2;
    width: 25%;
    margin: 30px;
    border-radius: 30px;
}


/* Cadre de toutes les images et descriptions */

.photod
{
    margin: 20px 0 0 40px;
    width: auto;
    
}

/* Ajustement des photos*/

.imad
{
    width: 150px;
    height: 160px;
    border-radius: 20px  0 0 20px;
}

/* Mise en forme de chaque photo et description*/

.entourd
{
    display: flex;  
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 30px;
      
}

/* Ajustement description sous photo */
.descripd
{
   padding-left: 10px;
   padding-right: 50px;
} 

.descripd h4
{
   padding-top: 15px;
   
} 

.descripd h4 + p
{

    font-size: 0.8em;
    margin: 10px 0 50px 0;
}

/* Placement descriptions à coté photo */
.horiz
{
    display: flex;
    width: auto;
    height: 160px;
}

/* Espacement logo du titre */
.fa-chart-line
{
    margin-left: 110px;
}

/* Description cliquable */
.entourd a:hover
{
    color: #0065FC ;
    text-decoration: none;
}

.entourd a
{
    color: black ;
    text-decoration: none;
}
/* Fin de la mise en forme de la partie hébergement droite*/

