
/* Application police maquette */
body
{
   font-family: 'Raleway', sans-serif;
   color: black;
  
}

.container
{
    max-width: 1400px;
    margin: auto;
}

/* Application police maquette pour titres */

h2 
{
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 50px;
    align-items: center;
    
}


h3
{
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}



/* mise en place des élements du header */
header
{
    display: flex;
    margin-top: 10px;
}

#logo
{
    margin-right: auto;
}

/* redimensionnement du logo */

#logo img
{
    width: auto;
    height: 50px;
}
/* mise en place menu de navigation*/

#navigation
{
    display: flex;
    padding-top: 15px;
    margin-right: 50px;
    font-weight: bold;
    font-size: 1em;
}

#navigation a
{
    text-decoration: none;
    color: black;
}

#hbgt
{
    margin-right: 50px;
}

#inscription
{
    padding: 15px 20px 0 0
}


#inscription a
{
    text-decoration: none;
    color: #0065FC;
    padding-top: 15px;
     font-weight: bold;
}


/* Effet de survol sur liens de navigation */

#navigation a:hover
{
    color:#0065FC;
    padding-top: 10px;
    border-top: 3px solid #0065FC;
}





/* Contenu principal */
.rechercher {
    padding-top: 20px;
    
}

/* Ajustement taille titre et paragraphe avant recherche*/

#ajust
{
    font-size: 0.8em;
    padding-bottom: 20px;
}



/* Mise en place de la recherche*/


#search
{
    display: flex;
    
}

.fa-map-marker-alt
{ 
    border: #f2f2f2 solid 2px;
    border-radius: 13px 0px 0px 13px;
    font-size: 17px;
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#ville
{
    height: 50px;
    width: 210px;
    border: #f2f2f2 solid 2px;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

#ville input
{
    text-decoration: none;
    border: none;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    color: black;
    width: 100%;
    padding-left: 20px ;
}

#submit
{
    display: flex;
    width: 130px;
    height: 53px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    }

#submit a
{
    text-decoration: none;
    background-color: #0065fc;
    color: white;
}


/* bouton rechercher pour iphone caché*/
#search_iphone
{
    display: none;
}

/* Mise de la partie filtres*/

.filtres
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-right: 50px;
    font-weight: bold;
    font-size: 1em;
    align-items: center;
        
}

.filtres_boutons
{
    font-size: 1.1em;
    margin-right: 20px;
    

}



/* Mise en forme commune à tous les filtres*/

.filtres button
{
    display: flex;
    background-color: white;
    font-weight: bold;
    align-items: center;
    font-size: 1em;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    background: none;
    padding: 0 20px 0 0;
    margin-right: 25px;
    cursor: pointer;
}

/* Mise en forme des incones des filtres*/

.icones
{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}


/* Effet de survol des boutons filtres*/

button:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}

/* Mise en forme de la ligne information*/
#info
{
    display: flex;
    margin-top: 20px;
    font-size: 0.8em;
}

.fa-info
{
    display: flex;
    width: 15px;
    height: 15px;
    background-color: white;
    color: #0065FC;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 15px;
}

/* Mise en page de la section hébergements*/
.hebergement_marseille
{
    display: grid;
    grid-template-columns: 30fr 15fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
}
.fa-star
{
    font-size: 0.8em;
}

/* Mise en forme de la partie hébergement gauche*/

/* Mise en place du container gauche */
.gauche
{
    background-color: #f2f2f2;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 55px 1fr 1fr 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.gauche h3
{
    grid-column-start: 1;
    grid-column-end: 4;

}

.photog
{
    width: 250px;
    height: 110px;
    border-radius: 20px 20px 0 0;
}


/* Cadre de toutes les images et descriptions */

.flyergauche
{
    border: white solid 5px;
    background-color: white;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 2fr;
    box-shadow: 3px 5px 5px #e2e2e2;
    
}

/* Description cliquable et enlèvement du soulignement */

.flyergauche a:hover
{
    color: #0065FC ;
    text-decoration: none;
}

.flyergauche a
{
    color: black ;
    text-decoration: none;
}
/* Ajustement description sous photo */
.descrip
{
    padding-left: 10px;
    padding-top: 5px;
   
}
/* Ajustement titre des photos*/
h4
{
    margin: 0px;
    font-size: 0.9em;
    
}

/* Ajustement ligne tarif nuit*/

h4 + p
{
    font-size: 0.8em;
    margin: 5px 0 5px 0;
}

/* Fond bleu des étoiles */
.blue
{
    color: #0065FC;
}

/* Fond gris des étoiles */

.grey
{
    color: #F2F2F2;
}

/* Ajustement des photos*/


/* Mise en place du bouton afficher plus avec effet de survol*/

#affplus
{
    border: none;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    padding: 20px 0 0 10px;
}

#affplus a
{
    text-decoration: none;
    color: black ; 
}

#affplus :hover
{
    text-decoration: none;
    color: #0065FC; 
}


/* Fin de la mise en forme de la partie hébergement gauche*/


/* Mise en forme de la partie hébergement droite*/



/* Mise en place du container droit */

.droite
{
    background-color: #f2f2f2;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 55px 2fr 2fr 2fr;
    grid-row-gap: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}
/* Description cliquable et enlèvement du soulignement */

.droite a:hover
{
    color: #0065FC ;
    text-decoration: none;
}

.droite a
{
    color: black ;
    text-decoration: none;
}

/* Mise en place du titre et de l'icone*/
.titred
{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
.titred div
{
    font-size: 20px;
    padding-top: 38px
}
.prixnuit p
{
    font-size: 0.8em;
}

/* Ajustement des photos*/

.photoetdescription
{
    display: grid;
    grid-template-columns: 135px 1fr;
    grid-column-gap: 10px;
    border-radius: 20px;
}

.photod img
{

    border-radius: 20px 0px 0px 20px;
    height: 135px;
    width: 135px;
}


/* Mise en forme de chaque photo et description*/

.flyerdroit
{
    background-color: #fff;
    border-radius: 30px;
    border: 5px solid white;
    box-shadow: 3px 5px 5px #e2e2e2;
      
}

/* Ajustement description*/
.descripd
{
   display: flex;
   flex-direction: column;
   width: 156px
} 
}
.prixnuit p
{
    font-size: 0.8em;
}

.evaluation
{
    padding-top: 35px;
}

/* Fin de la mise en forme de la partie hébergement droite*/


/* Mise en forme de la partie activités*/

.activite_marseille
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}   

h5
{
    font-size: 1em;
    font-weight: bold;
    margin: 20px;
}

.activite_marseille h3
{
    grid-column-start: 1;
    grid-column-end: 5;
}

.activite_marseille a:hover
{
    text-decoration: none;
    color: #0065FC ;
}
.activite_marseille a
{
    text-decoration: none;
    color: black ;
}

.port
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 30px;
    width: 320px;
    height: 200px;
}

 .photo_titre
{  display: grid;
    grid-template-rows: 2fr;
    border-radius: 30px;
    box-shadow: 3px 5px 5px #e2e2e2;
}

.photo_port
{
    border-radius: 30px 30px 0 0;
    width: auto;
}


.pomegues
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 30px;
}

.photo_pomegues
{
    border-radius: 30px 30px 0 0;
    width: 320px;
}


.frioul
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 30px;
    height: 160px;
}

.photo_frioul
{
    border-radius: 30px 30px 0 0;
    width: 320px;
}

.calanques
{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 30px;
}

.photo_calanques
{
    border-radius: 30px 30px 0 0;
    width: 320px;
}


.ndgarde
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 30px;
}

.photo_ndgarde
{
    border-radius: 30px 30px 0 0;
    width: 320px;
}

.longchamp
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 30px;
}

.photo_longchamp
{
    border-radius: 30px 30px 0 0;
    width: 320px;
}



/* Mise en forme du pied de page*/

footer
{
    display: flex;
    background-color: #F2F2F2;
    margin-bottom: 30px;
    
}

footer h6
{
    font-size: 0.9em;
    font-weight: bold;
}

footer ul
{
    padding-left: 0px;
}

footer li
{
    list-style: none;
    font-size: 0.8em;
}


footer a:hover
{
    color: #0065FC ;
    text-decoration: none;
}

footer a
{
    color: black ;
    text-decoration: none;
}

#propos
{
    width: 35%;
    margin-left: 50px;
}

#noshbt
{
    width: 30%;
}

#assist
{
    width: 35%;
}


/* Média queries affichage téléphone*/

@media (max-width: 660px)

{
/* Adaptation de la page à la résolution*/
.container
{
    max-width: 660px;
    width: auto;
    margin: 0 10px 0 10px;
}


/* Mise en forme du header*/
.entete
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr
}

#logo
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2
}

#navigation
{
    grid-column-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span2;
    border-bottom: #deebff solid 2px;
    margin-right: -10px;
    margin-left: -20px;
    font-size: 1em;
}
#hbgt
{
    margin: 0;
}

#navigation div 
{
    width: 100%;
    height: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation div a:hover
{
    border-style : none;
}

#navigation div:hover
{
    color:#0065FC;
    border-bottom: 3px solid #0065FC;
}

#inscription
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 100px;
}



/* Mise en forme des filtres*/

/* rechercher desktop caché et remplacé par version iphone */
#search
{
    display: none;
}

#search_iphone
{
    display: flex;
}

.fa-map-marker-alt
{ 
    padding: 6px;
    height: 38px;
    width: 40px;
}

#submit
{
    padding: 6px;
    border-radius: 15px;
    height: 40px;
    width: 40px;
    margin-left: -10px;
    }


/* Mise en forme du titre*/
#ajust
{
    padding-right: 48px;
    padding-top: 5px;
}


/* Ajustement des filtres*/


.filtres

{
    margin-right: 10px;
}
.filtres_boutons
{
    margin-right: 200px;
    margin-bottom: 20px;
}


.filtres button
{
    padding-right: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 0.9em;
}
.icones
{
    margin-right: 5px;
}

/* Ajustement partie information avec texte*/

#info
{
    margin-top: 0px;
}
#info p
{
    padding-right: 40px;
}



/* Mise en forme de la partie hébergement*/

.hebergement_marseille
{
    display: flex;
    flex-direction: column;
}


.droite

{
   flex-direction: column;
   border-radius: 0;
   padding-left: 20px;
   padding-right: 20px;
}

.gauche
{
    display: flex;
    flex-direction: column;
    order: 2;
    background-color: white;
    padding: 0px;
    padding-right: 20px;
    grid-row-gap: 20px;
}

.gauche h3

{
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px;
}
.photoetdescription
{
    display: flex;
}

.photog
{
    width: 335px;
}




/* Mise en forme de la partie activité*/
.activite_marseille
{
     flex;display:
    flex-direction: column;
}

.port
{
 width: auto;
 height: auto;

}



/* Mise en forme de la partie activité*/
footer
{
    display: flex;
    flex-direction: column;
    
}

#propos {
    width: auto;
    margin-left: 20px;
}

#noshbt {
    width: auto;
    margin-left: 20px;
}

#assist {
    width: auto;
    margin-left: 20px;
}
footer ul li
{
    margin-bottom: 10px;
}

footer h6

{
    margin-bottom: 10px;
}

}

